body {
        background-color: #AAC4FF;
      }

      hr {
        /* background-color: #D0B8A8; */
        border-style: none;
        border-top-style: dotted;
        border-color: gray;
        border-width: 5px;
        /* height: 3px; */
        width: 10%;
      }

h1, h3 {
    color: #EC7272;
}

.entry{
    font-family: 'Franklin Gothic Medium';
}

#lead{
    font-family: 'Trebuchet MS';
}

#bullets{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
